.formLogin {
    border: 3px solid #f1f1f1;
    padding: 80px;
    text-align: center;
    margin: 0 auto;

}


input[type=text].usernameLogin, input[type=password].passLogin {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.btnProf {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.btnStud {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}


.btnProf:hover {
    opacity: 0.8;
}

.btnStud:hover {
    opacity: 0.8;
}
