.shown {
    border: 3px solid #f1f1f1;
    padding: 80px;
    text-align: center;
    margin: 0 auto;

}


.nameInput, .startDateInput, .endDateInput {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.btnSubmit {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}


.btnSubmit:hover {
    opacity: 0.8;
}

